Source: maratona-submission
Section: misc
Priority: optional
Maintainer: Bruno Ribas <brunoribas@utfpr.edu.br>
Build-Depends: debhelper-compat (= 12)

Package: maratona-submission
Architecture: all
Depends: maratona-firewall, boca-submission-tools, maratona-usuario-icpc
Description: Pacote com o ambiente de submissão para o Boca central
